#
# Visual Studio
#
.vs
*.VC.db
*.opensdf
*.sdf
*.suo
*.pdb
*.ilk
*.bsc
*.sbr
*.exp
*.lib
*.log
*.tlog
*.obj
DBProCompiler/DBPCompilerEXE/Debug
DBProCompiler/DBPCompiler/DarkEXE.*
Dark Basic Public Shared/Dark Basic Pro SDK/DarkSDK/*/Debug
Dark Basic Public Shared/Dark Basic Pro SDK/DarkSDK/*/Release
Dark Basic Public Shared/Dark Basic Pro SDK/DarkSDKMore/*/Debug
Dark Basic Public Shared/Dark Basic Pro SDK/DarkSDKMore/*/Release

DBPCompiler.res
dbproexe.res

#
# Output
#
Install/Compiler/DarkBasic.exe
Install/Compiler/plugins/*.dll
Install/Compiler/plugins-user/*.dll
Install/Compiler/plugins-licensed/*.dll


#
# DarkBasic files
#

Dark Basic Professional TEMP
ErrorReport.txt
Install/Projects/*/*.exe